*{
  padding: 0;
  margin: 0;

}

main {
  font-family: helvetica  ;
}
header{
  
}

section{
  float: left;
/*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  width: 40vw;
  padding: 40px;
}
img {
  width: 40vw;
}

aside{
  float:right;
 /*float é uma propriedade que permite deixar elementos à direita ou à esquerda da tela. Não costuma ser usado. Aqui, é usado apenas para ilustrar diferenças.*/
  padding: 20px;
  width: 40vw
;
}

article{
  margin: 10px 0;
}