#titulo-importante {
    background-color: blue;
    color: white;
}
.sub-titulo {
    background-color: yellow;

}
section {
    background-color: green;

}
.titulo-secao {
    color: white;
}
.texto-generico {
    font-weight: bolder;
}
.titulo-pouco-importante {
    background-color: black;
    color: white;
}